@media screen and (max-width: 749px) {
  .articles-wrapper .article {
    width: 100%;
  }
}

.main-blog__header {
  text-align: center;
  background: #ffdf97;
  padding: 20px;
  border-radius: 16px 16px 0 0;
}

.main-blog__header h1 {
  color: rgb(68, 68, 68);
}
.main-blog__categories {
  display: flex;
  list-style: none;
  gap: 30px;
  width: 100%;
  margin-bottom: -20px;
  align-items: center;
  justify-content: center;
}

.category {
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  font-weight: 600;
  padding: 16px 24px;
}
.category:hover {
  color: rgb(0, 0, 0);
}

.is-active {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.article {
  display: flex;
  align-items: center;
}

.article.grid__item {
  padding: 0;
}


.blog-articles {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 80px;
}


@media screen and (min-width: 990px) {
  .blog-articles .grid--3-col-desktop .grid__item {
    width: calc(30% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
    max-width: calc(30% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
  }
}

.blogs {
  gap: 80px;
}

.article-image img {
  border-radius: 16px;
}
.article-image {
  position: relative;
}
.article-tag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  padding: 15px;
}

.article-tag span {
  border-radius: 30px;
  background-color: blue;
  color: rgb(255, 255, 255);
  font-size: 11px;
  padding: 2px 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogs .grid__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.article-title {
  font-size: 28.8px;
  font-weight: 700;
  line-height: 34.56px;
}

.article-publish-date {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.article-description span {
  font-size: 15px;
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .articles-wrapper.grid {
    margin: 0 0 5rem 0;
  }

  @media screen and (min-width: 750px) {
    .articles-wrapper.grid {
      margin-bottom: 7rem;
    }
  }
}
